<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1{
            font-size: 3rem;
        }
    </style>
</head>
<body>
    <h1>CampusX API</h1>
    <h2>Endpoints To use Project database model</h2>
    <ul>
        <li>/api/ : To view all the projects</li>
        <li>/api/create/ : To create a project</li>
        <li>/api/id_of_project/ : To view a specific project</li>
        <li>/api/id_of_project/update/ : To update a specific project</li>
        <li>/api/id_of_project/delete/ : To delete a specific project</li>
    </ul>
    <h3>Created and Maitained By Sahil Nikshe</h3>
</body>
</html>